# Ignore Python bytecode files
__pycache__/
*.pyc

# Ignore virtual environment directory
.venv/*
.conda/*
.env/*


# Ignore log directory
log/

# Ignore any files inside the models directory
models/*
src/.chainlit/config.toml
tests/langchain-starter/.env
