langchain
langchain-core
langchain-community
langsmith
langserve
fastapi
uvicorn[standard]
sse_starlette
pypdf
sentence_transformers
langchain-chroma
faiss-cpu

ipywidgets
ipykernel
streamlit
chainlit
accelerate

torch
--index-url https://download.pytorch.org/whl/cu118

transformers[torch]
diffusers[torch]
peft
-e .