gradio
openai
langchain
chromadb
tiktoken
pypdf
pymupdf
chainlit

# Packages with extras
langchain[llm]
gpt4all
pyllamacpp
chromadb
langchainhub

# Other dependencies
python-dotenv
streamlit
notebook
numpy
scipy
scikit-learn
pandas
matplotlib
seaborn
jupyter
