langchain
langchain-core
langchain-community
langsmith
langserve
fastapi
uvicorn[standard]

ipywidgets
ipykernel
streamlit
chainlit
accelerate

torch
--index-url https://download.pytorch.org/whl/cu118

transformers[torch]
diffusers[torch]
peft
-e .